// Variables (colors, widths, etc)
$sidebar-width: 500px;
$sidebar-transition: transform 0.5s ease;

// Styles
body {
  font-family: 'Raleway', sans-serif !important;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.hoverable-card {
  transition: all 0.3s ease;
  margin: 0px;
}

.hoverable-card:hover {
  padding: 5px !important;
  box-shadow: 0px 12px 10px 7px rgba(0,0,0,0.04);
  background: #fff;
}

.to-upper {
  text-transform: uppercase;
}

.light {
  color: #e1e2e2;
}

.dark-grey {
  color: #525659;
}