body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #1f2d3d;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
.list-unstyled();
    margin-left: -5px;

> li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
  }
}

hr {
    margin-top:    5px;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #c0ccda;
}

a {
    color: #475669;
    text-decoration: none;

    &:hover,
    &:focus {
         color: #000;
         text-decoration: underline;
    }
}

.pull-right {
    float: right !important;
}

.highlight {
    font-size: 14px;
    color: #1f2d3d;
}

@media (min-width: 768px) {
    .left-input {
        padding-right: 5px;
    }

    .right-input {
        padding-left: 5px;
    }
}

@media (max-width: 768px) {
    .left-input {
        margin-bottom: 22px;
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.lighter {
    color: #8492A6;
}
